.container {
  width: 700px;
}

body {
  background-image: url("Sunset.png");
  color: white;
}

form {
  margin-bottom: 15px;
  margin-left: 50%;
}

.search-city {
  margin: 0 auto;
  width: 35%;
  background-color: transparent;
  border: solid 0.5px white;
  border-radius: 50px;
  padding: 5px;
  color: white;
}

button {
  color: white;
  background-color: transparent;
  border: none 1px white;
  padding: 5px;
  width: 100px;
}
